body {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#search-box {
  height: 120px;
  background-color: var(--color-main);
  width: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.top-bar__title {
  position: absolute;
  top: 35px;
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#search {
  box-sizing: border-box;
  position: absolute;
  bottom: -25px;
  padding: 20px;
  border-radius: 25px;
  width: 90%;
  border: none;
  box-shadow: 0px 1px 100px rgba(0, 0, 0, 0.1);
}
#search::placeholder {
  color: var(--color-main);
  font-weight: 600;
}
.menu_list {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.menu {
  padding: 1vw 0;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.menu__checked {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 15px 30px -12px inset,
    rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}
.menu input {
  display: none;
}
.menu i {
  font-size: 30px;
  position: absolute;
  left: 10px;
  top: -12px;
}
#pure_menu,
#pure_menu i {
  color: #fda701;
}
#action_menu,
#action_menu i {
  color: #6cbcbe;
}
#conflict_menu,
#conflict_menu i {
  color: #f12b1d;
}
#case_law_menu,
#case_law_menu i {
  /* color: #0e4d7e; */
  color: var(--color-sub);
}
#question_mark__container {
  height: 600px;
  width: 375px;
  position: relative;
}
#question_mark__container img {
  position: absolute;
}
#img_pure {
  width: 14.4em;
  top: 1em;
  left: 0;
}
#img_conflict {
  width: 12em;
  top: 1.2em;
  right: 0;
}
#img_action {
  width: 13.2em;
  left: 6.7em;
  top: 14em;
}
#img_case_law {
  width: 10em;
  top: 29em;
  left: 7em;
}
#container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}
.content_box {
  /* border-radius: 10px; */
  width: 100%;
  /* background-color: var(--color-main); */
  /* margin-bottom: 20px; */
  padding: 20px;
  box-sizing: border-box;
}
.pure {
  box-shadow: 0px 0px 15px -5px #fda701 inset;
  /* box-shadow: 0 50px 100px rgb(253, 167, 1); */
}
.action {
  box-shadow: 0 0px 20px -5px #6cbcbe inset;
  /* box-shadow: 0 15px 35px rgb(14, 77, 126); */
}
.conflict {
  box-shadow: 0 0px 15px -10px #f12b1d inset;
  /* box-shadow: 0 5px 15px rgb(241, 43, 29); */
}
.case_law {
  box-shadow: 0 0px 15px -10px black inset;
}
.content_box * {
  padding: 20px 0;
}
.question {
  font-weight: 600;
  font-size: 1.2rem;
}
.answer {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font);
}
.answer img {
  display: block;
  margin: 0 auto;
}
.law {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #999999;
}
.law i {
  color: #999999;
}
.next_quest {
  display: none;
}
.hide {
  display: none;
}
.show {
  display: block;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.7s ease-in-out forwards;
  animation-delay: 0.7s;
  background-color: white;
}
#splash-screen img {
  width: 270px;
  max-width: 100vw;
}

.to-top-btn {
  color: black;
  opacity: 0.5;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}
