#search {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  border: none;
  background-color: white;
  font-size: 1.5rem;
  color: var(--color-main);
}
#searchBox {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  position: fixed;
  border: 3px solid var(--color-main);
  border-radius: 0 0 10px 10px;
}
.menu_list {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.menu {
  padding: 1vw 0;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23%;
  margin: 0;
  height: 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.8rem;
}
body {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  height: auto;
  width: 95%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
}
.content_box {
  border-radius: 10px;
  width: 95%;
  /* background-color: var(--color-main); */
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}
#pure_menu {
  color: #fda701;
}
#action_menu {
  color: #6cbcbe;
}
#conflict_menu {
  color: #f12b1d;
}
#case_law_menu {
  /* color: #0e4d7e; */
  color: var(--color-sub);
}
.pure {
  box-shadow: 0px 0px 15px -5px #fda701 inset;
  /* box-shadow: 0 50px 100px rgb(253, 167, 1); */
}
.action {
  box-shadow: 0 0px 20px -5px #6cbcbe inset;
  /* box-shadow: 0 15px 35px rgb(14, 77, 126); */
}
.conflict {
  box-shadow: 0 0px 15px -10px #f12b1d inset;
  /* box-shadow: 0 5px 15px rgb(241, 43, 29); */
}
.content_box * {
  padding: 20px 0;
}
.question {
  font-weight: 600;
  font-size: 1.2rem;
}
.answer {
  font-size: 1rem;
  font-weight: 400;
}
.law {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: pink;
}
.next_quest {
  display: none;
}
